{% extends '@WikiWikiBundle/layout.html.twig' %}

{% block body %}
    {% block _header %}
        {{ include('@WikiWikiBundle/Project/inc/header.html.twig') }}
    {% endblock %}

    <div class="container">
        {% block _container %}
            {% block _page_intro %}{% endblock %}

            {% block _page_content %}{% endblock %}
        {% endblock %}
    </div>

    {% block _footer %}
        {{ include('@WikiWikiBundle/Project/inc/footer.html.twig') }}
    {% endblock %}

{% endblock %}
